/*  CSS ORDERING 
    |1. Height, width
    |2. Overflow
    |3. Color
*/

/*----------------------------------
           HTML ELEMENTS           
----------------------------------*/
/* Ordered by structure */

html, body {
  height: 100vh;
  width: 100%;
}

body {
  background-color: lavenderblush;
}

/*----------------------------------
           CLASSES           
----------------------------------*/
/* Alphabetical Order */

.bg-chatbot {
  background-color: #c2bbc4;
}

.bg-user {
  background-color:rgb(185, 165, 204);
}

.chat-bg {
  height: 100%;
}

.chat-container{
  height: 70vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.form-rounded {
  border-radius: 1rem;
}

input.textbox {
  height: 5vh;
  max-height: 3vmax;
  width: 100%;
}

.msg-height {
  min-height: 50px;
  flex-shrink: 0;
} 

.text-80 {
  font-size: 80%;
}

.textbox-container {
 max-height: 10vh;
}

.size-custom {
  max-width: 75% !important;
}


/*----------------------------------
           Media Queries           
----------------------------------*/

@media only screen and (max-width: 799px) {
  .chat-container{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  #window, #mobile {
    height: 100%;
  }
}